name: Test build.sh

on: [push]
#  push:
#    tags:
#      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set output
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF:10}
      - name: Running bash script
        env:
          login: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          ver: ${{ steps.vars.outputs.tag }}
        run: |
          bash build.sh




