name: Test build.sh

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set output
        id: vars
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Running bash script
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          VER: ${GITHUB_REF/refs\/tags\//}
        run: |
          bash build.sh

